.swipeButton{
    position: fixed;
    bottom: 40px;
    display: flex;
    width: 100%;
    justify-content: space-evenly
}
.swipeButton .MuiIconButton-root{
    background-color: white;
    box-shadow: 6px 5px 5px 0px rgba(0, 0 ,0, 0.3) !important;
}
.repeat{
    padding: 3vw !important;
    color: orange !important;

}
.star{
    padding: 3vw !important;
    color: skyblue !important;

}
.fav{
    padding: 3vw !important;
    color: red !important;

}
.left{
    padding: 3vw !important;
    color: pink !important;
}
.lighting{
    padding: 3vw !important;
    color: purple !important;
}